extends layout 

block content 
    input#id(type="text", name="id")
    button#connect connect
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="/js/connection.js")