extends layout

block content
  h1
    nav
      a(href="/") Menu
  h1#title= title
  div#status
  script.
    let networkName = '#{networkName}', host = '#{host}'
  script(src='/js/'+networkName+'.js')
  script(src="/js/loadData.js")