html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/main.css')
  body
    h1
      nav
        a(href="/linkedin") linkedIn
        br
        a(href="/facebook") FB
        br
        a(href="/instagram") INSTA
        br
        a(href="/twitter") TWITTER